@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-cyan-primary: hsl(193, 38%, 86%);
  --neon-green-primary: hsl(150, 100%, 66%);

  --grayish-blue-neutral: hsl(216, 20%, 32%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size:28px;
  font-weight:800;
  height:100vh;
  background:var(--dark-grayish-blue);
  display:flex;
  justify-content:center;
  align-items:center;
}
#root {
  display:flex;
  align-items:center;
  justify-content:center;
}
.lightbox-mobile {
  background:var(--grayish-blue-neutral);
}
.lightbox {
  background: var(--grayish-blue-neutral);
  width:600px;
}
.advice-title {
  color: var(--neon-green-primary);
}
.dice-bg {
  background: var(--neon-green-primary);
  @apply h-12 w-12 rounded-full
}
.dice-bg:hover {
  background:var(--neon-green-primary);
  box-shadow: 2px 0 10px 5px rgba(133, 228, 162, 0.616);
}
.advice {
  color:var(--light-cyan-primary);
}